.landing-image{
    width:400px;
    height:400px;
}
.landing-image-left{
    margin-right:15px;
}
.landing-image-right{
    margin-left:15px;
}
.flexbox{
    display:flex;
    flex-direction: row;
    align-items:center;
    margin-bottom:30px;
}