#flash-message{
    position:absolute;
    bottom:20px;
    right:20px;
    z-index:10;
}

.dashboard-auth > li > a{
    color:#999999;
    padding:10px;
}
.dashboard-auth > li > a:hover{
    color: rgb(62, 62, 62);
}
.dropdown-toggle:focus{
    color: rgb(82, 82, 82);
}