#flash-message{
    position:absolute;
    bottom:20px;
    right:20px;
    z-index:10;
}

.dashboard-auth > li > a{
    color:#999999;
    padding:10px;
}

.nav-link:hover{
    color: rgb(227, 227, 227) !important;
}
.dropdown-toggle:focus{
    color: rgb(82, 82, 82);
}

.text-wrap {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    /*-webkit-hyphens: auto;*/
    /*-moz-hyphens: auto;*/
    /*hyphens: auto;*/
}

.cursor_hand{
    cursor:pointer;
}

.flexbox{
    display:flex
}
.flexbox-row{
    flex-direction: row;
}
.flexbox-column{
    flex-direction:column;
}

.wrap{
    flex-wrap: wrap;
}
.date{
    padding:10px;
}
.slot{
    margin-bottom: 5px;
}

.text-right-force{
    text-align:right !important;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.slot-rounded{
    border-radius: 10px;
}

.bg-banner-dashboard{
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;"
}
